@model List<FondoXYZ.web.Models.Reserva>

@{
    ViewData["Title"] = "Mis Reservas";
}

<h2>Mis Reservas</h2>

<table class="table">
    <thead>
        <tr>
            <th>Alojamiento</th>
            <th>Fecha Reserva</th>
            <th>Fecha Llegada</th>
            <th>Fecha Salida</th>
            <th>Numero Personas</th>
            <th>Valor Total</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var r in Model)
        {
            foreach (var d in r.Detalles)
            {
                <tr>
                    <td>@d.Alojamiento?.Nombre</td>
                    <td>@r.FechaReserva.ToShortDateString()</td>
                    <td>@r.FechaInicio.ToShortDateString()</td>
                    <td>@r.FechaFin.ToShortDateString()</td>
                    <td>@d.NumPersonas</td>
                    <td>@d.TotalReserva.ToString("C")</td>
                    <td>@r.Estado</td>
                </tr>
            }
        }
    </tbody>
</table>
