<h2 style="text-align: center; color: #fc4646;">Mis Reservas</h2>

<table class="table" style="width: 100%; margin-top: 20px; border-collapse: collapse;">
    <thead style="background-color: #fc4646; color: white; text-align: center;">
        <tr>
            <th style="padding: 10px;">Alojamiento</th>
            <th style="padding: 10px;">Fecha Reserva</th>
            <th style="padding: 10px;">Fecha Llegada</th>
            <th style="padding: 10px;">Fecha Salida</th>
            <th style="padding: 10px;">Numero Personas</th>
            <th style="padding: 10px;">Valor Total</th>
            <th style="padding: 10px;">Estado</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var r in Model)
        {
            foreach (var d in r.Detalles)
            {
                <tr>
                    <td style ="padding: 8px; text-align: center;">@d.Alojamiento?.Nombre</td>
                    <td style="padding: 8px; text-align: center;">@r.FechaReserva.ToShortDateString()</td>
                    <td style="padding: 8px; text-align: center;">@r.FechaInicio.ToShortDateString()</td>
                    <td style="padding: 8px; text-align: center;">@r.FechaFin.ToShortDateString()</td>
                    <td style="padding: 8px; text-align: center;">@d.NumPersonas</td>
                    <td style="padding: 8px; text-align: center;">@d.TotalReserva.ToString("C")</td>
                    <td style="padding: 8px; text-align: center;">@r.Estado</td>
                </tr>
            }
        }
    </tbody>
</table>
